body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

a {
	color: #fff;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

#main-navbar {
	top: 0;
	width: 100%;
	padding: 0 5%;
	display: grid;
	z-index: 1000;
	position: relative;
	transition: all .3s;
	box-sizing: border-box;
	background-color: #5C2A70;
	grid-template-columns: max-content 1fr;
}

.fixed {
	position: fixed !important;
}

.hide-fixed {
	top: -200px !important;
}

.wrapper-logo {
	margin: auto;
	display: block;
}

.wrapper-logo img {
	display: block;
	max-width: 160px;
}

.navigation {
	display: grid;
	grid-gap: 20px;
	padding: 20px 0;
	align-items: center;
	justify-content: flex-end;
	grid-template-columns: repeat(3, max-content);
}

.section {
	width: 100%;
	height: 100vh;
	display: flex;
	color: #5C2A70;
	font-size: 2rem;
	font-weight: 500;
	align-items: center;
	justify-content: center;
}


#section-1 {
	background-color: #C09A9E;
}


#section-2 {
	background-color: #F3EDE8;
}

#section-3 {
	background-color: #F3D0D0;
}

@media screen and (max-width: 768px) {
	#main-navbar {
		grid-template-columns: 1fr;
	}

	.navigation {
		justify-content: center;
	}
}